@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --azul-botao: #1678f7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter'
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 15px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("imagens/imagem_de_fundo.png");
    background-repeat: no-repeat; 
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.caixa {
    margin: 0 6em;
    
}

.principal_titulo {
    font-size: 28px;
    font-weight: 600;
}

.principal_img {
    display: block;
    margin: 2em 0.1em 2em 0.1em;
    text-align: center;
}

.principal_link {
    text-decoration: none;
    display: block; 
    padding: 1em;
    background-color: var(--azul-botao);
    border-radius: 0.2rem;
    color: var(--branco-principal);
    margin: 1em;
}

.principal_link_2 {
    text-decoration: none;
    display: block;
    padding: 1em;
    background-color: transparent;
    margin: 1em;
    border: 0.1rem solid var(--branco-principal);
    border-radius: 0.2rem;
    color: var(--branco-principal);
}

.container_aviso {
    color: var(--cinza-secundario);
    font-size: 10px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario_img{
    width: 80%;
}

.descricao_titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descricao_texto {
    font-size: 22px;
    color: var(--cinza-secundario);
}
.secundario_botao {
    text-decoration: none;
    display: inline-block;
    margin-top: 1.5em;
    background-color: var(--azul-botao);
    color:var(--branco-principal);
    font-size: 20px;
    padding: 1em 3em;
    border-radius: 0.2rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos_titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.dispositivos_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 6em; 
}

.lista_item {
    font-size: 22px;
    color: var(--branco-principal);
}

.rodape_lista {
    display: flex;
    justify-content: center;
}



